<div class="container" ng-controller="feedbackCtrl">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <div class="row">
            <h2>Обратная связь</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <h5>
          Если у вас возникли вопросы или предложения, то они всегда могут быть рассмотрены представителями нашей компании. Воспользовавшись формой ниже вы можете отправить письмо и связаться с нами. Мы не оставляем ни одного сообщения без внимания.
        </h5>
      </div>
      <div class="row">
        <div class="form-group" ng-show="info">
          <hr>
          <p class='text-success'>{{ success }}</span>
          <p ng-repeat='error in errors' class='text-danger'>
           {{ error }}
          </p>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="name">Введите ваше имя</label>
          <input type="text" class="form-control" id="name" ng-model="name" placeholder="Имя">
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="email">Введите ваш email</label>
          <input type="email" class="form-control" id="email" ng-model="email" placeholder="Email">
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="message">Введите ваше сообщение</label>
          <textarea type="text" class="form-control" id="message" ng-model="message"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button type="button" class="btn btn-primary" ng-click="sendFeedback()">Отправить</button>
        </div>
      </div>
      <div class="row">
        <h1>Ответы:</h1>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12" ng-repeat="message in messages">
          <div class="row" style="margin-left:10px;">
           <div class="col-sm-12" style="font-size:14px; color:#gray; font-weight: bold ">
             {{ message.name }} <span style="color: gray"> | {{ message.email }} </span>
           </div>
           <div class="col-sm-11" style="margin-left:10px;">
              {{ message.message }}
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
