// Place all the styles related to the Wall controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prefix {
  cursor: pointer;
}
.http-success {
  background-color: #449d44;
  color: white;
  border-color: #398439;
}
