<div class="container" ng-controller="PromoteCtrl">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-lg-offset-2">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          Платная раскрутка сайта - это очень качественная раскрутка сайта специалистами "Graffiti Decorations". Ваш сайт в самые короткие сроки поднимет свои позиции во всех современных поисковиках сети Интернет. Данная операция поможет вам привлечь целевую аудиторию на ваш сайт и повысить показатели Тиц и PR.
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          Цена. Цена для поднятия сайта в позициях поисковиков - самая дешевая в сети, она составляет всего 10$ или 300 руб. Рассчет принимается в WM.
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          В раскрутку входит:
          Прогон вашего сайта по каталогам
          Доскам объявлений
          Гостевым книгам
          Социальным сетям
          RSS-лентам
          Возможный прирост показателей:
          Тиц: + 0 - 20
          PageRank: + 1 - 3
          Back Links: + 400 - 600
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <form role="form">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" id="email" class="form-control" placeholder="Ваш email" ng-model="email" >
            </div>
            <div class="form-group">
              <label for="siteUrl">Url:</label>
              <div class="input-group">
                <span class="input-group-addon prefix {{ secure }}" ng-click="sitchHttp()">{{ prefix }}</span>
                <input type="text" id="siteUrl" class="form-control" placeholder="Введите URL сайта" ng-model="siteUrl" >
              </div>
            </div>
            <div class="form-group">
              <label for="description">Описание:</label>
              <textarea name="description" class="form-control" rows="8" cols="40" ng-model="desc"></textarea>
            </div>
            <div class="form-group">
              <label for="subject">Тематика:</label>
              <select class="selectpicker col-lg-10 pull-right" name="" ng-model="subject">
                <option value="1">option 1</option>
                <option value="2">option 2</option>
              </select>
            </div>
            <div class="form-group">
              <label for="fio"> Ваше ФИО:</label>
              <input type="text" id="siteUrl" class="form-control" placeholder="Ваше ФИО" ng-model="fio" >
            </div>
            <input type="button" class="btn btn-success" ng-click="addRequest()" value="Оплатить и раскрутить">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
