<div class="container" ng-controller="FreeCtrl">
  <div class="col-sm-6">
    Бесплатная раскрутка сайта - это раскрутка сайта посредством установления на ваш сайт баннера Graffiti Decorations®. После установки баннера, вы зарегистрируйтесь в базе данных, которая постепенно автоматически регистрирует сайт в каталогах, поисковиках, рейтингах. Имея на вашей страничке баннер, вы в скором времени увидите, что ваш сайт появляется во всех поисковиках, поднимает свои позиции, увеличивает свои индекс цитирования и Page Rank! Раскрутка основывается на метатегах описания и ключевых слов, так что, убедитесь что вы прописали их в заголовке вашего сайта. В настоящий момент данная услуга является совершенно бесплатной!
  </div>
  <div class="col-sm-6">
    <div class="form-group">
       <label for="exampleInputPassword1">Введите адрес сайта</label>
       <input type="text" class="form-control" placeholder="Адресс сайта" ng-model="siteUrl">
     </div>
     <div class="form-group pull-right">
       <input type="button" class="btn btn-success" value="Добавить сайт" ng-click="addUrl()">
     </div>
     <div class="col-sm-12" ng-bind="info">

     </div>
  </div>
</div>
