<!DOCTYPE html>
<html ng-app="Graffitistudio">
<head>
  <title>Graffitistudio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid sidebar">
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"></a>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="/">Главная</a></li>
          <li class=""><a href="/promote">Раскрутка</a></li>
          <li class=""><a href="/wall">Стена</a></li>
          <li class=""><a href="/free">Бесплатная раскрутка</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class=""><a href="/contacts">Обратная связь</a></li>
        </ul>
      </div>
    </nav>
  </div>
<div class="row">
  <div class="col-sm-12 text-center">
    <h1>Graffitistudio</h1>
  </div>
</div>
<%= yield %>

</body>
</html>
